html {
    height: 100%;
    background-color: #d4dadf;
}

body {
    position: relative;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    overflow-x: auto;
    margin: 0 auto;
    min-width: 320px;
    max-width: 414px;
    min-height: 100%;
    background-color: #e9ecef;
    word-break: break-word;
}

a {
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#root {
    position: relative;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}