{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es2021": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "airbnb",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier/@typescript-eslint"
  ],

  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  }
}
